{% extends 'category/layout.html.twig' %}

{% block page_contents %}

<h3>Total Categories: {{ total_categories }}</h3>

<table class="styled-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
      <tr>
        <td>{{ category.id }}</td>
        <td><strong>{{ category.name}}</strong></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
