{% extends 'category/layout.html.twig' %}

{% block page_contents %}

<h3>Total Categories: <span style="color: red;">{{ total_categories }}</span></h3>

<table class="styled-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Series</th>
      <th>Products</th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
      <tr>
        <td>{{ category.id }}</td>
        <td><strong>{{ category.name|upper }}</strong></td>
        <td><strong><a href="/product/{{ category.id }}">View Products</a></strong></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
