{% extends 'test_status/layout.html.twig' %}

{% block page_contents %}

<h3>Total Test Statues: <span style="color: red;">{{ total_test_statuses }}</span></h3>

<table class="styled-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Products</th>
    </tr>
  </thead>
  <tbody>
    {% for status in test_statuses %}
      <tr>
        <td>{{ status.id }}</td>
        <td><strong>{{ status.name|upper }}</strong></td>
        <td><strong><a href="/">View Hardware Tests</a></strong></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
