<!DOCTYPE html>
<html>
    <head>
        <title>Meyer Sound</title>
    </head>
    <body>
        <h1>Meyer Sound - Products</h1>

        <h2>Product number is {{ number }}</h2>

        <a href="/product">Add Product</a>
    </body>
</html>
