{% extends 'hardware_test/layout.html.twig' %}

{% block content %}
    <h1>New Hardware Test</h1>

    {% form_theme form 'foundation_5_layout.html.twig' %}

    {{ form_start(form) }}
        {{ form(form) }}
    {{ form_end(form) }}
    <p>
      <span style="color: red; font-weight: bold;">Note: Form submisson is disabled for my server's security!</i></span>
    </p>

    {% block page_contents %}{% endblock %}
{% endblock %}
